p.preview img {
  margin-top: 5px;
  margin-bottom: 5px;
}

p.preview a {
  filter:         saturate(50%) brightness(0.5);
  -webkit-filter: saturate(50%) brightness(0.5);
     -moz-filter: saturate(50%) brightness(0.5);
      -ms-filter: saturate(50%) brightness(0.5);
}

p.preview a:hover {
  filter:         saturate(100%) brightness(1);
  -webkit-filter: saturate(100%) brightness(1);
     -moz-filter: saturate(100%) brightness(1);
      -ms-filter: saturate(100%) brightness(1);
}
